@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/container-queries";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, coffee;
}

@plugin "daisyui/theme" {
  name: "coffee";
  default: true;
  --color-secondary: oklch(0.72 0.07 199.06);
}

@layer components {
  html {
    --font-size: 16px;
  }

  :where(:root:has(.modal-open,.modal[open],.modal:target,.modal-toggle:checked,.drawer:not(.drawer-open)>.drawer-toggle:checked)) {
    scrollbar-gutter: auto;
  }
}
