<%= turbo_frame_tag :edit_crawl_market_frame do %>
  <dialog id="edit_crawl_market_dialog" class="modal modal-bottom sm:modal-middle" open>
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <div class="dialog-header mb-5">
        <h4 class="text-lg font-bold">Edit Crawl Market</h4>
      </div>
      <%= render "form", crawl_market: crawl_market, form_url: edit_crawl_market_path(crawl_market) %>
    </div>
  </dialog>
<% end %>
