<div class="text-xl font-bold flex items-center justify-between space-x-2 flex-row cursor-default mb-5">
  <div class="flex items-center space-x-2 flex-row">
    <%= icon "dollar-circle" %>
    <span>Exchange Rate</span>
  </div>
  <div>
    <button class="btn" data-reflex="click->ExchangeRate#new">
      <%= icon "plus" %>
      <span>New</span>
    </button>
  </div>
</div>
<div class="space-y-3" id="exchange-rates">
  <%= render partial: "form", collection: ExchangeRate.all, as: :exchange, locals: { selected_id: nil } %>
</div>

<%= turbo_frame_tag :new_exchange_rate_form, class: "mt-3 block" %>
