<div class="drawer-side border-r border-base-300">
  <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
  <ul class="menu bg-base-100 text-base-content min-h-full w-60 p-4">
    <% sidebar_items.each do |item| %>
      <li class="cursor-pointer rounded-lg font-medium">
        <%= link_to item[:url], class: "flex flex-row items-center space-x-2 #{item[:active_class]}" do %>
          <span class="inline-block">
            <%= icon item[:icon_name], class: ["fill-current"], variant: item[:icon_type] %>
          </span>
          <span><%= item[:title] %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
